@model VCardsMVC4.Models.User
@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
       
    <header>
        <h3>Names</h3>
    </header>
    <p>
        <span class="label">@Resources.Resource.Name:</span>
        <span>@Model.Name</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>@Resources.Resource.Tag</h3>
    </header>
   @* @foreach (var item in Model.TagList) {
        <ol>
            <li>
                @Html.DisplayFor(modelItem => item.Tag1)
            </li>
        </ol>
    }*@
</section>

<section class="contact">
   
    <header>
        <h3>@Resources.Resource.Language: </h3>
    </header>
    <p>
        @Model.Language<br />
         @using (Html.BeginForm("ChangeCulture", "Home"))
                { 
                    <select name="lang">
                        <option disabled selected>@Resources.Resource.Language</option>
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                    </select>
                  <input name="id" hidden value="@Model.Id"/>
                    <button type="submit">@Resources.Resource.SubmitButtonText</button>
                }
    </p>
</section>